@model MeetingCatalogue.Models.Meeting

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.From)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.To)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

    </dl>
</div>

<h4>@Html.DisplayNameFor(model => model.Agenda)</h4>
<div class="row">
    @Html.DisplayFor(model => model.Agenda)
</div>

<h4>@Html.DisplayNameFor(model => model.Summary)</h4>
<div class="row">
    @if (Model.Summary.IsEmpty())
    {
        <p>No summary yet.</p>
    }
    else
    {
        @Html.DisplayFor(model => model.Summary)
    }
</div>

<p>
    <a href="@Url.Action("Index", "Meetings")" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Back to List</a>
    @*@Html.ActionLink("Back to List", "Index")*@

    @*<div class="btn-group-vertical" role="group">*@
        <a href="@Url.Action("Edit", "Meetings", new { id = Model.ID })" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</a>
        @* Delete *@
    @*</div>*@
    @*@Html.ActionLink("<span class=\"glyphicon glyphicon-edit\"></span> Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-default" }) |*@
</p>
