@model MeetingCatalogue.Models.Meeting

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.From)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.To)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Participants)
        </dt>
        <dd>
            <ul class="list-unstyled">
                @foreach (var user in Model.Participants)
                {
                    <li>@user.UserName</li>
                }
            </ul>
        </dd>
    </dl>
</div>

<h4>@Html.DisplayNameFor(model => model.Agenda)</h4>
<div class="editable-widget" id="agenda">
    <div class="content">
        @Html.Raw(@Model.Agenda)
    </div>
</div>

<h4>@Html.DisplayNameFor(model => model.Summary)</h4>
<div class="editable-widget" id="summary">
    <div class="content">
        @Html.Raw(@Model.Summary)
    </div>
</div>

<p>
    <a href="@Url.Action("Index", "Meetings")" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Back to List</a>

    @if (Model.CanEdit(ViewBag.CurrentUser))
    {
        <a href="@Url.Action("Edit", "Meetings", new { id = Model.ID })" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</a>
    }
    @if (Model.CanDelete(ViewBag.CurrentUser))
    {
        <a href="@Url.Action("Delete", "Meetings", new { id = Model.ID })" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a>
    }
</p>

@section Scripts {
    <script src="//cdn.ckeditor.com/4.4.6/standard/ckeditor.js"></script>
    <script src="//cdn.ckeditor.com/4.4.6/standard/adapters/jquery.js"></script>
    <script type="text/javascript">
        $('#agenda').editableWidget({ id: @Model.ID, name: 'agenda', timestamp: @Model.AgendaUpdatedTicks, endpoint: '/Meetings/UpdateAgenda' });
        $('#summary').editableWidget({ id: @Model.ID, name: 'summary', timestamp: @Model.SummaryUpdatedTicks, endpoint: '/Meetings/UpdateSummary' });
    </script>
}
